*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}


.section3{
  background-image: linear-gradient(
    #e46e01,
    #ffb488
  );
  margin: 30px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  box-shadow: 10px 10px 15px #bdbcbc;
  border-radius: 6px;
}


.video{
  display: flex;
  margin: 0px 60px;
}


.text2{
  color: #ffffff;
  text-shadow:
  1px 1px 0 #868686,
  1px 1px 0 #868686,
  1px 1px 0 #868686;
  text-align: center;
  margin: 140px 90px 90px;
  width: 28%;
  z-index: 2;
}

p{
  color: #ffffff;
  padding: 6px;
}


@media (max-width: 600px) {

 .section3{
  
 }

 .video{
  max-width: 40%
}

.text2{
  flex-direction: column;
}
}